<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSift.Messages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataSift.Messages>
            <setting name="InvalidAPIKey" serializeAs="String">
                <value>API key should be a 32 character string of lower-case letters and numbers</value>
            </setting>
            <setting name="InvalidStreamHash" serializeAs="String">
                <value>Hash should be a 32 character string of lower-case letters and numbers</value>
            </setting>
            <setting name="InvalidSubscriptionID" serializeAs="String">
                <value>Subscription ID should be a 32 character string of lower-case letters and numbers</value>
            </setting>
            <setting name="InvalidCursor" serializeAs="String">
                <value>Cursor should be a 32 character string of lower-case letters and numbers</value>
            </setting>
            <setting name="UnrecognisedDataFormat" serializeAs="String">
                <value>Unrecognised serialization format for data</value>
            </setting>
            <setting name="InvalidHistoricsID" serializeAs="String">
                <value>Historics ID should be a 20 character string of lower-case letters and numbers</value>
            </setting>
        </DataSift.Messages>
    </applicationSettings>
</configuration>